    .input--text{
        >label{
            &.label--up{
                font-size: $font-size-xs;
                line-height:$line-height-xs;
                font-weight:100;
            }
        }
    }