<section>
    <div class="homeSection">
        <h2 class="bigTitle">
            Web, digital, marketing
        </h2>
        <div class="dashInfo">
            <span>uni studio web</span>
        </div>
        <h1>
            Nous aidons les professionnels à développer une expérience pour leurs clients en ligne.
        </h1>
        <div class="moreText">
            <p>
                Aujourd’hui, c’est sur internet que tout commence.  Grâce à nos solutions digitales personnalisées, nos partenaires développent une relation plus engagente et durable avec leurs clients.
            </p>
        </div>
        <div class="hashtags">
            <ul>
                <li>#siteweb</li>
                <li>#application</li>
                <li>#réseauxsociaux</li>
                <li>#stratégiedigitale</li>
            </ul>
        </div>
    </div>
</section>