.dashInfo{
  margin-left:50px;
  color: $main-color;
  text-transform: uppercase;
  &:before{
    content:'';
    position:absolute;
    background: $main-color;
    height:3px;
    width:42px;
    margin-left:-52px;
    margin-top:8px;
  }
  &.animate{
    opacity:0;
    transition: .4s ease-in;
    transform: translateX(-40px);
    &:before{
      transition:.4s ease-in;
      max-width:0;
    }
  }
  &.animated{
    transform: translateX(0px);
    opacity:1;
    &:before{
      max-width:42px;
    }
  }
}