.link{
    color:$main-color;
    &:after{
        content:"";
        width: 5px;
        height: 10px;
        margin-top:6px;
        margin-left:$s-s;
        transition: $main-transition;
        position:absolute;
        //background: url('../../../images/icons/i-arrow-right.png') 100% no-repeat;
    }

    // Hover

    &:hover{
        &:after{
            margin-left:$s-s * 1.5;
        }
    }
}

.link--center{
    display:block;
    text-align:center;
}
