.testimonial{
    display:flex;
    align-items:center;
    &__head{
        overflow:hidden;
        border-radius: 100%;
        height:48px;
        width:48px;
        box-shadow:$shadow-xs;
        >img{
            height:100%;
        }
    }
    &__slice{
        width: 4px;
        height:100%;
        background:$main-color;
    }
    &__content{
        &__name{
            float:right;
            font-style:oblique;
            color:$grey;
            &:before{
                content:"";
                width:12px;
                height:2px;
                background: $grey;
            }
        }
    }
}