// ********************************************************************************
//   STYLE M  STYLE M    STYLE M   STYLE M    STYLE M    STYLE M
// ********************************************************************************



@import 'components/variables.scss';

@include screen-m{



// ********************************************************************************
// ********************************************************************************

//     -BASE   -BASE    -BASE    -BASE    -BASE    -BASE    -BASE    -BASE    -BASE

// ********************************************************************************
// ********************************************************************************

html{
    font-size:18px;
}
h2.bigTitle {
  font-size: 10vw;
  line-height: 13vw;
}
//                  -LAYOUT 
// ---------------------------------------

.col-s-6{width:100%; padding-right:0};
.container{
    padding: 0 $s-xxl;
    }
.row >*{
    margin-bottom: 0;
}
.row--full{
     display:grid;
     grid-template-columns: 1fr 1fr;
 }

// ********************************************************************************
// ********************************************************************************

//     IMPORT   IMPORT    IMPORT     IMPORT   IMPORT   IMPORT  IMPORT

// ********************************************************************************
// ********************************************************************************


@import 'components/elements/*/style-m.scss';
@import 'components/blocks/*/style-m.scss';
@import 'components/pages/*/style-m.scss';





}
