// ********************************************************************************
//   STYLE L  STYLE L    STYLE L   STYLE L    STYLE L    STYLE L
// ********************************************************************************
@import 'components/variables.scss';

@include screen-l {

  html {
    font-size: 20px;
  }

  h2.bigTitle {
    font-size: 6vw;
    line-height: 5vw;
  }

  .row--full {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  //                  -LAYOUT
  // ---------------------------------------


  .layout-l{
    grid-template-columns:repeat(6, 1fr);
  }




  // ********************************************************************************
  // ********************************************************************************

  //     IMPORT   IMPORT    IMPORT     IMPORT   IMPORT   IMPORT  IMPORT

  // ********************************************************************************
  // ********************************************************************************

  @import 'components/elements/*/style-l.scss';
  @import 'components/blocks/*/style-l.scss';
  @import 'components/pages/*/style-l.scss';

}
