    .menu{
        &__links{
            display:inherit;
            margin-right:$s-m;
            >a{
                margin-right:$s-m;
                color:$black;
            }
        }
        
        a{
            opacity:1;
            color:$black;
            transition:$main-transition;
        }
        a:nth-child(1){
            transform:translateX(0);
            transition-delay: .2s;
        }
        a:nth-child(2){
            transform:translateX(0);
            transition-delay: .1s;
        }
        a:nth-child(3){
            transform:translateX(0);
        }
        
    }