.logoUni{
        height: 48px;
        svg{
            height: 48px;
            width: 48px;
        }
        &__title{
            >h2{
                font-size: $font-size-m;
                line-height:$line-height-m;
                font-weight:400;
            }
        }
    
    }